<?xml version="1.0" encoding="utf-8"?>
<manifest package="cn.com.hesc.gpslibrary"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".view.GpsStateActivity" android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
    </application>

</manifest>